html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content .draggableBox {
    position: absolute;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    border: 4px solid #626174;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    background: rgba(70, 80, 95, 0.8);
    cursor: pointer;
}

#content .draggableBox:hover {
    background: rgb(70, 80, 95);
}